---
title: Homepage
permalink: /
layout: "layouts/base.html"
---

<div class="relative">
	<div class="container mx-auto px-4 2xl:px-12 relative z-30">
		<div class="2xl:px-40 flex items-center justify-between">
			<div class="pt-12 w-full md:w-3/4 lg:w-1/2 lg:mr-auto">
				<h2 class="font-poppins font-bold text-black text-3xl sm:text-4xl">Water Restoration</h2>
				<p class="font-poppins text-black sm:text-lg pt-5 sm:pt-7">Water damage can be a nightmare for homeowners, and a wet basement is a common problem that needs immediate attention. In the Finger Lakes region of NY, homeowners can count on professional water restoration services by On The Spot Cleaners to restore their property to its pre-damaged condition.</p>
				<div class="pt-8 sm:pt-16 pb-10 sm:pb-16 desk:pb-24 xl:pb-40">
					<h4 class="font-poppins font-bold text-black text-2xl">Wet basement?</h4>
					<span class="w-3/4 h-px bg-[#9a9a9a] block mt-5 sm:mt-7"></span>
					<p class="pt-5 sm:pt-7 font-poppins text-black sm:text-lg">Give us a call or contact us via form today!</p>
					<div class="flex items-center gap-5 sm:gap-7 mt-8">
						<a href="tel:(585)224-6911" class="font-poppins text-black sm:text-lg flex items-center gap-2 ">
							<span class="w-5 h-5">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
									<path strokeLinecap="round" strokeLinejoin="round" d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0l-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
								</svg>
							</span>
							(585) 224-6911
						</a>
						<span class="font-poppins text-black sm:text-lg ">or</span>
						<a href="/" class="font-poppins text-sm sm:text-base text-white bg-black rounded-full py-3 px-6">Contact us</a>
					</div>
				</div>
			</div>
			<div class="hidden sm:block">
				<img src="/assets/img/symboil.png" alt="long logo">
			</div>
		</div>
	</div>
	<div class="w-full lg:w-2/3 h-56 xs:h-72 sm:h-[22rem] md:h-[26rem] desk:h-[30rem] lg:h-full lg:absolute bg-no-repeat bg-left-bottom bg-cover top-0 right-0 bottom-0 z-20" style="background-image: url('/assets/img/bg-water-restoration.jpg');"></div>
</div>
